<!DOCTYPE html>
<html lang="ko">

<head>
    <!--required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <!--bootstrap, datetimepicker CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <!--jquery, bootstrap, datetimepicker JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ko.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="../static/deliver.js"></script>
    <!--        구글폰트-->
    <!--        <link rel="stylesheet" href="">-->

    <!--CSS-->
    <link rel="stylesheet" href="../static/deliver.css">

    <title>오늘 하루</title>
</head>

<body>
    <header>
            <div>
                <img src="../static/space.svg" style="width: 140px; height: 140px;">
            </div>
            <div>
                <p>오늘하루를 담아보세요</p>
            </div>
    </header>

    <div class="blocksWrapper">
        <div class="drkBlock">
            <div class="dateBlock">
                <div>
                    <img src="../static/planet1.svg" alt="" style="width: 30px; height:30px;">
                    <label for="todayDate"> 오늘 하루 날짜는?</label>
                </div>
                <div class="input-group" id="datetimePicker" style="margin: 10px 0 0 35px;">
                    <input type="text" class="form-control" id="todayDate" required>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
            <div class="rateBlock">
                <div>
                    <img src="../static/planet2.svg" alt="" style="width: 30px; height: 30px;">
                    <label> 오늘 하루 몇점? </label>
                </div>
                <div style="margin: 10px 0 0 35px;">
                    <input type="text" class="form-control" id="todayRate" placeholder="     / 10" required>
                </div>
            </div>
            <div class="keywordBlock">
                <div>
                    <img src="../static/planet3.svg" alt="" style="width: 30px; height: 30px;">
                    <label>오늘 하루 키워드 하나로!</label>
                </div>
                <div style="margin: 10px 0 0 35px;">
                    <input type="text" class="form-control" id="todayKeyWord" placeholder="#" required>
                </div>
            </div>
            <div class="submitBox">
                <input type="button" value="저장하기" id="submitBtn" onclick="submitReview()">
            </div>
            <div class="homeBox">
                <input type="button" value="홈으로" id="backHomeBtn" onclick="location.href='/'">
                <!--<input type="button" value="move" onclick="window.open('/deliver')">-->
            </div>
        </div>
        <div class="contentBlock">
            <div class="content">
                <div>
                    <img src="../static/rocket.svg" alt="" style="width: 25px; height: 30px;">
                    <label>오늘 하루 기록하기!</label>
                </div>
                <div>
                <textarea name="opinion" id="todayContent" cols="50" rows="30" style="margin-left: 27px;"
                          placeholder=" 오늘하루를 담아주세요." required></textarea>
                </div>
            </div>
        </div>
        <div class="galleryBlock">
            <div class="gallery">
                <div>
                    <img src="../static/hubble.svg" alt="" style="width: 25px; height: 30px;">
                    <label>오늘 하루 감상하기!</label>
                </div>
                <div class="imageContainer">
                    <div class="main-img">
                        <img src="../static/alien1.svg" id="current">
                    </div>

                    <div class="imgs">
                        <img src="../static/alien2.svg">
                        <img src="../static/alien3.svg">
                        <img src="../static/alien4.svg">
                        <img src="../static/alien5.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</body>
</html>